PORT=3000
CORS_ORIGIN=

BETTER_AUTH_SECRET=Vh0nMUKrGX6HaqH2tcRzwK+BGgEdcvgHOEn/Izy1138=
BETTER_AUTH_URL=http://localhost:5173
BETTER_AUTH_TRUSTED_ORIGINS=

CATALOG_DATABASE_URL=
REDIS_URL=redis://localhost:6379
ENCRYPTION_KEY=